@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
/* ********** */
/* My GENERAL */
/* ********** */
p {
  line-height: 1.5; }
a {
  text-decoration: none; }
ul {
  display: flex; }
li {
  list-style-type: none; }
.purple--text {
  color:#7342d6 }


/* ************************ */
/* Landing Page Bar Section */
/* ************************ */

.nav__container {
  width: 100%;
  height: 120px;
  padding: 15px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid#3498db;
  border-radius: 6px;
}
.nav__container_left {
  display: flex;
  width: 40%;
  align-items: center;
}
.responsive_big_t {
  width: 100%;
  max-width: 100px;
  padding-right: px;
}
.nav__container_right {
  display: flex;
  width: 60%;
  align-items: center;
}
.nav__links {
  justify-content: space-between;
}
.nav__link {
  margin-left: 16px;
  text-decoration: none;
  font-size: 15px;
  color: #7242d6;
  font-weight: bold;
  padding: 0 18px;
}
.button {
  font-size: 20px;
  height: 70%;
  width: 200px;
  padding: 8px;
  margin-left: 25px;
  background-color: #7242d6;
  color: azure;
  border-radius: 20px;
}

/* ****************************** */
/* Landing Page Container Section */ 
/* ****************************** */

#landing__page_container {
  display: flex;
  width: 100%;
  padding: 20px 0;
}
.lp__box_left {
  width: 40%;
  height: 400px;
  padding: 40px 40px;
}
.lp__button_box {
  display: flex;
  height: 40px;
  width: 260px;
  display: flex;
  font-size: 15px;
  background-color: white;
  color: #7242d6;
  border: 1px solid#3498db;
  border-radius: 20px;
}
.lp__button {
  font-size: 15px; 
  height: 37px;
  width: 119px;
  background-color: #7242d6;
  color: azure;
  border-radius: 20px;
}
.lp__box_right {
  width: 60%;
  height: 400px;
  padding: 10px 10px;
}
.lp__box_right img {
  width: 100%;
  height: 100%;
}

/* **************************** */
/* Designed & Developed Section */
/* **************************** */

#dd__page_container {
  display: flex;
  width: 100%;
  padding: 20px 0;
  margin 300px 0;

}
.dd__box_left {
  width: 40%;
  height: 500px;
  padding: 40px 40px;
}
.dd__box_right {
  width: 60%;
  height: 500px;
  padding: 10px 10px;
}
.dd__box_right img {
  width: 100%;
  height: 100%;
}

/* *************************** */
/* Easy to Get Started Section */
/* *************************** */

#easy__page_container {
  display: flex;
  width: 100%;
  padding: 20px 0;
}
.easy__box_left {
  width: 50%;
  height: 400px;
  padding: 40px 40px;
}
.easy__box_right {
  width: 50%;
  height: 400px;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
}
.easy__box_right-row {
  display: flex;
}
.easy__box_right-row-column {
  display: flex;
  flex-direction: column;
}
.easy__box_left img {
  width: 100%;
  height: 100%;
}

/* ***************************************** */
/* We Always Abide by Our Principles - Value */
/* ***************************************** */

#value__page_container {
  display: flex;
  width: 100%;
  margin: 0 auto;
}
.value__box_left {
  width: 50%;
  height: 250px;
  padding: 40px 150px;
}
.value__box_right {
  width: 50%;
  height: 250px;
  padding: 30px 50px;
}
.value__box_right img {
  width: 100%;
  height: 100%;
}

/* ************************************ */
/* REASONABLE AND FLEXIBLE SECTION - rf */
/* ************************************ */

#plans__page-container {
  padding: 100px 0;
}
.rf__container {
   padding: 40px 0;
   margin: 100px 20px;
   width: calc(vw*75%);
   display: flex;
   flex-direction: column;
}
.rf__plans_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}
.rf__row {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}
.rf__services {
  display: flex;
  margin: 0 100px;
}
.rf__service {
  display: flex;
  flex-direction: column;
  width: calc(100% / 3);
  border: 1px solid lightcyan;
  height: 400px;
  margin: 10px;
}
.rf__detail_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px;
  height: 125px;
  border: 1px solid lightcyan;
  padding: 30px;
}
.rf__detail_2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px;
  height: 175px;
  border: 1px solid lightcyan;
  padding: 18px; 
}
.rf__detail_3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px;
  height: 100px;
  border: 1px solid lightcyan;
  padding: 18px; 
}
.rf__button {
  font-size: 20px;
  height: 70%;
  width: 100%;
  max-width: 175px;
  padding: 8px;
  margin-right: 2%;
  background-color: #7242d6;
  color: azure;
  border-radius: 20px;
}

/* ******************************************** */
/* We Have Amazing Service Container - Features */
/* ******************************************** */

#lp__features_container {
  padding: 50px 0;
}
.lp__amazing_row {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lp__amazing_row h4 {
  padding: 25px 0 0;
}
.lp__amazing_row h6 {
  padding: 10px 250px;
}
.lp__amazing_row-lorem-box {
  width: 325px;
  font-size: 0.6rem;
  font-weight: bold;
  padding: 12px 0;
}
.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.services {
  display: flex;
  flex-wrap: wrap;
}
.service {
  display: flex;
  width: calc(100% / 3);
  padding: 20px 70px;
}
.service__description {
  display: flex;
  flex-direction: column;
}
.service__description-logo-and-name {
  display: flex;
}
.service__description-logo-and-name p {
  font-weight: 600;
}
.service__description-logo-and-name-lorem {
  padding-left: 35px;
}


/* ********** */
/* JS TESTING */
/* ********** */

.test-box {
  border: var(--box-border);
  padding: 100px 20px;
  width: 20px;
}
