@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}

.nav__container {
  width: 100%;
  height: 120px;
  padding: 15px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid#3498db;
  border-radius: 6px;
}
.nav__container_left {
  display: flex;
  width: 40%;
  align-items: center;
}
.nav__container_right {
  display: flex;
  width: 60%;
  align-items: center;
}
.nav__link {
  margin-left: 16px;
  text-decoration: none;
  font-size: 15px;
  color: #7242d6;
  font-weight: bold;
  padding: 0 18px;
}
.nav__links {
  justify-content: space-between;
}
.responsive_big_t {
  width: 100%;
  max-width: 100px;
  padding-right: px;
}
.button {
  font-size: 20px;
  height: 70%;
  width: 200px;
  padding: 8px;
  margin-left: 25px;
  background-color: #7242d6;
  color: azure;
  border-radius: 20px;
}
.lp__buttons {}

.lp__buttons-box {
  height: 70%;
  width: calc(vw*66.6%);
  display: flex;
}
.lp__button-box-one {}
.lp__button_one {
  width: 85%;
  font-size: 12px;
  padding: 8px 20px;
  margin-left: 50px;
  background-color: white;
  color: #7242d6;
  border-radius: 20px;
  border-color: aliceblue;
}
.lp__button-box-two {}
.lp__button_two {
  font-size: 12px;
  padding: 8px;
  background-color: #7242d6;
  color:white;
  border-radius: 20px;
  border-color: aliceblue;

}
#landing__page_container {
  display: flex;
  width: 100%;
  padding: 20px 0;
}
.lp__box_left {
  width: 40%;
  height: 500px;
  padding: 40px 40px;
}
.lp__buttons {
  display: flex;
}
.lp__box_right {
  width: 60%;
  height: 500px;
  padding: 10px 10px;
}
.lp__box_right img {
  width: 100%;
  height: 100%;
}

#dd__page_container {
  display: flex;
  width: 100%;
  padding: 20px 0;
}
.dd__box_left {
  width: 40%;
  height: 500px;
  padding: 40px 40px;
}
.dd__box_right {
  width: 60%;
  height: 500px;
  padding: 10px 10px;
}
.dd__box_right img {
  width: 100%;
  height: 100%;
}

#easy__page_container {
  display: flex;
  width: 100%;
  padding: 20px 0;
}
.easy__box_left {
  width: 50%;
  height: 400px;
  padding: 40px 40px;
}
.easy__box_right {
  width: 50%;
  height: 400px;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
}
.easy__box_right-row {
  display: flex;
}
.easy__box_right-row-column {
  display: flex;
  flex-direction: column;
}

.easy__box_left img {
  width: 100%;
  height: 100%;
}


#value__page_container {
  display: flex;
  width: 100%;
  margin: 0 auto;
}
.value__box_left {
  width: 50%;
  height: 400px;
  padding: 80px 150px;
}
.value__box_right {
  width: 50%;
  height: 400px;
  padding: 30px 50px;
}
.value__box_right img {
  width: 100%;
  height: 100%;
}


#plans__page-container {
  padding: 100px 0;
}



.lp__features_container {
  padding: 80px 0;
}
.lp__amazing_row {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lp__amazing_row h4 {
  padding: 25px 0 0;
}
.lp__amazing_row h6 {
  padding: 10px 250px;
}
.lp__amazing_row-lorem-box {
  width: 325px;
  font-size: 0.6rem;
  font-weight: bold;
  padding: 12px 0;
}
.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.services {
  display: flex;
  flex-wrap: wrap;
}
.service {
  display: flex;
  width: calc(100% / 3);
  padding: 20px 70px;
}
.service__description {
  display: flex;
  flex-direction: column;
}
.service__description-logo-and-name {
  display: flex;
}
.service__description-logo-and-name p {
  font-weight: 600;
}
.service__description-logo-and-name-lorem {
  padding-left: 35px;
}


}
.test-box {
  border: var(--box-border);
  padding: 100px 20px;
  width: 20px;
}
